In [1]:
# load up NumPy and a bunch of aliases into our Jupyter environment
# also: make plotting inline inside of the browser

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv('celebrity_deaths_2016.csv')

In [4]:
df

,dateofdeath,name,age,bio,causeofdeath,Unnamed: 5,Unnamed: 6
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer,NaN,NaN
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer,NaN,NaN
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer,NaN,NaN
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke,NaN,NaN
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure,NaN,NaN
...,...,...,...,...,...,...,...
6538,2016-12-27,Barbara Tarbuck,74,"American actress (General Hospital, Short Circ...",NaN,NaN,NaN
6539,2016-12-27,Hans Tietmeyer,85,"German economist, President of Deutsche Bundes...",NaN,NaN,NaN
6540,2016-12-27,Ratnasiri Wickremanayake,83,"Sri Lankan politician, Prime Minister (2000200...",NaN,NaN,NaN
6541,2016-12-27,Cara Rafaela,23,American racehorse (death announced on this date),euthanized,NaN,NaN
6542,2016-12-27,Balasaheb Vikhe Patil,84,Indian politician.,NaN,NaN,NaN

In [5]:
df.head(10)

,dateofdeath,name,age,bio,causeofdeath,Unnamed: 5,Unnamed: 6
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer,NaN,NaN
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer,NaN,NaN
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer,NaN,NaN
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke,NaN,NaN
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure,NaN,NaN
5,2016-01-01,Mike Oxley,71,"American politician, member of the United Stat...",lung cancer,NaN,NaN
6,2016-01-01,John Coleman Moore,92,American mathematician.,NaN,NaN,NaN
7,2016-01-01,Jacques Deny,99,French mathematician.,NaN,NaN,NaN
8,2016-01-01,Mark B,45,British hip-hop record producer.,NaN,NaN,NaN
9,2016-01-01,George Alexandru,58,Romanian theater and film actor.,NaN,NaN,NaN

In [6]:
df.tail(10)

,dateofdeath,name,age,bio,causeofdeath,Unnamed: 5,Unnamed: 6
6533,2016-12-27,Bong Go,66,"Filipino basketball coach (Presto, Talk N' Tex...",stroke,NaN,NaN
6534,2016-12-27,Heno Magee,77,Irish playwright.,NaN,NaN,NaN
6535,2016-12-27,Annanias Mathe,40,Mozambican criminal.,NaN,NaN,NaN
6536,2016-12-27,Tricia McCauley,46,American actress (Step Up),strangulation and blunt force trauma,NaN,NaN
6537,2016-12-27,George A. Russell,95,"American educator, President of University of ...",NaN,NaN,NaN
6538,2016-12-27,Barbara Tarbuck,74,"American actress (General Hospital, Short Circ...",NaN,NaN,NaN
6539,2016-12-27,Hans Tietmeyer,85,"German economist, President of Deutsche Bundes...",NaN,NaN,NaN
6540,2016-12-27,Ratnasiri Wickremanayake,83,"Sri Lankan politician, Prime Minister (2000200...",NaN,NaN,NaN
6541,2016-12-27,Cara Rafaela,23,American racehorse (death announced on this date),euthanized,NaN,NaN
6542,2016-12-27,Balasaheb Vikhe Patil,84,Indian politician.,NaN,NaN,NaN

In [ ]:
pd.read_csv('')