In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [2]:
s = Series([10, 20, 30, nan, nan, nan, nan, nan])

In [3]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [6]:
s.astype('Sparse')

0    10.0
1    20.0
2    30.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: Sparse[float64, nan]

In [23]:
df = DataFrame(np.random.randint(0, 100, [10, 3]), 
              index=list('abcdefghij'),
              columns=list('xyz'))

In [26]:
df[df < 30] = NaN
df

      x     y     z
a  41.0  83.0   NaN
b  62.0  87.0   NaN
c   NaN  78.0  61.0
d  50.0   NaN  73.0
e  71.0   NaN   NaN
f  68.0   NaN  88.0
g  47.0   NaN  64.0
h  66.0  75.0   NaN
i  69.0   NaN  50.0
j   NaN  98.0  39.0

In [27]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       8 non-null      float64
 1   y       5 non-null      float64
 2   z       6 non-null      float64
dtypes: float64(3)
memory usage: 820.0 bytes

In [25]:
df.astype({'x':float, 'y':float, 'z':'Sparse[float]'})

      x     y     z
a  41.0  83.0   NaN
b  62.0  87.0   NaN
c   NaN  78.0  61.0
d  50.0   NaN  73.0
e  71.0   NaN   NaN
f  68.0   NaN  88.0
g  47.0   NaN  64.0
h  66.0  75.0   NaN
i  69.0   NaN  50.0
j   NaN  98.0  39.0

In [28]:
df = df.astype({'x':float, 'y':float, 'z':'Sparse[float]'})
df

      x     y     z
a  41.0  83.0   NaN
b  62.0  87.0   NaN
c   NaN  78.0  61.0
d  50.0   NaN  73.0
e  71.0   NaN   NaN
f  68.0   NaN  88.0
g  47.0   NaN  64.0
h  66.0  75.0   NaN
i  69.0   NaN  50.0
j   NaN  98.0  39.0

In [29]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       8 non-null      float64
 1   y       5 non-null      float64
 2   z       6 non-null      Sparse[float64, nan]
dtypes: Sparse[float64, nan](1), float64(2)
memory usage: 812.0 bytes

In [30]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [31]:
s.astype('Sparse[float]')

0    10.0
1    20.0
2    30.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: Sparse[float64, nan]

In [33]:
help(pd.util.testing.makeDataFrame)

Help on function makeDataFrame in module pandas._testing:

makeDataFrame()

In [41]:
pd.util.testing.makeTimeDataFrame??